/* Reset margins and padding for consistency */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: #f8f9fa;
  padding: 20px;
}

/* Wrapper to center the content */
.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

/* Make h1 and h2 the same size */
h1, h2 {
  font-color: black;
  font-size: 2.5rem; 
  font-weight: 600;
  margin-bottom: 2px;
}

.main-header2 {
  font-weight: bold;
  font-size: 3.5rem;
  margin-top: 200px;
  margin-bottom: 0.8px;
}

.main-header1 {
  font-weight: bold;
  font-size: 3.5rem;
  margin-top: 20px;
  margin-bottom: 50px;
}

/* Subtitle styling */
.subtitle {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 20px;
}

/* Global reset */
body, h1, p, img {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #f0f0f0;
  text-align: center; /* Center the h1 */
}

/* Header styles */
h1 {
  margin-bottom: 20px;
  font-size: 2em;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  justify-content: center; /* Centers the grid horizontally */
  align-items: center; /* Centers the grid vertically */
  margin: 0 auto; /* Ensures grid container stays centered */
  padding: 20px 0;
}

.image-grid a {
  display: block;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.image-grid img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.image-grid a:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsive Design */
@media (max-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .image-grid {
    grid-template-columns: 1fr;
  }
}
